<header>
	<div class="row vote-header">
		<div class="col-xs-9 col-sm-9 col-md-9 vote-header-title">
			<span> VotePlex </span>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 vote-header-buttons">
			<button class="btn btn-default form-inline" ng-click="profileCtrl.logout()"> Logout </button>
		</div>
	</div>
</header>

<div class="body">
	<div class="vote-body">
		<div class="vote-body-h1">
			<h1> Dashboard </h1>
		</div>
		<div class="vote-body-h4">
			<h4> What would you like to do today? </h4>
		</div>
		<div class="vote-body-button">
			<button class="btn btn-success form-inline" ng-click="profileCtrl.signUp()"> New Poll </button>
			<button class="btn btn-info form-inline" ng-click="profileCtrl.signUp()"> My Polls </button>
		</div>
	</div>
</div>