<header>
	<div class="row vote-header">
		<div class="col-xs-9 col-sm-9 col-md-9 vote-header-title">
			<span> VotePlex </span> &nbsp;&nbsp;
			<span class="app-version">Version {{homeCtrl.appVersion}}</span>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 vote-header-buttons">
			<button class="btn btn-default form-inline" ng-click="homeCtrl.signUp()"> Sign Up </button>
			<button class="btn btn-primary form-inline" ng-click="homeCtrl.login()"> Login </button>
		</div>
	</div>
</header>

<div class="body">
	<div class="vote-body">
		<div class="vote-body-h1">
			<h1> VotePlex </h1>
		</div>
		<div class="vote-body-h4">
			<h4> Create custom polls with live results </h4>
		</div>
		<div class="vote-body-button">
			<button class="btn btn-success form-inline" ng-click="homeCtrl.signUp()"> Sign Up </button>
		</div>
	</div>
	
	<div class="vote-body-footer row">
		<div class="col-xs-4 col-sm-4 col-md-4 text-center">
			<div class="image yellow">
				<span>
					<i class="fa fa-bolt fa-lg" aria-hidden="true"></i>
				</span>
			</div>
			<div class="heading">
				<h1>
					Live Results
				</h1>
			</div>
			<div class="text">
				<span>
					Live graphs show your poll results immediately in an easy to understand format.
					One graph will not provide the whole picture, that's why we provide multiple graph types to better describe your results.
				</span>
			</div>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 text-center">
			<div class="image green">
				<span>
					<i class="fa fa-globe fa-lg" aria-hidden="true"></i>
				</span>
			</div>
			<div class="heading">
				<h1>
					Works Everywhere
				</h1>
			</div>
			<div class="text">
				<span>
					Traditional computer desktops now represent only 30% of Internet traffic. 
					Your poll must work on the tablets, smartphones, notebooks and netbooks that your visitors are using. 
					Our responsive site designs do just that.
				</span>
			</div>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 text-center">
			<div class="image blue">
				<span>
					<i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
				</span>
			</div>
			<div class="heading">
				<h1>
					Social Integration
				</h1>
			</div>
			<div class="text">
				<span>
					This feature is still under construction.
					Once completed, this will allow your poll voters to provide immediate feedback and discuss results.
					Social share buttons encourage your poll voters to help spread the word.
				</span>
			</div>
		</div>
	</div>
</div>